# OrangeHRM Application Configuration
BASE_URL=https://opensource-demo.orangehrmlive.com

# Default Test Credentials
DEFAULT_USERNAME=Admin
DEFAULT_PASSWORD=admin123

# Playwright Configuration
HEADLESS=false
BROWSER_TYPE=chromium
TIMEOUT=10000

# Screenshot Configuration
TAKE_SCREENSHOTS=true
SCREENSHOT_PATH=reports/screenshots

# Logging Configuration
LOG_LEVEL=info
